<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注解扫描-->
    <context:component-scan base-package="com.baizhi.cmfz">

        <!--配置扫描除controller注解以外的所有-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>

    </context:component-scan>

    <!--添加小配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <!--数据库-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">

        <property name="driverClassName" value="${driver}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${name}"></property>
        <property name="password" value="${pwd}"></property>

    </bean>

    <!--spring工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">

        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="com.baizhi.cmfz.entity"></property>
        <property name="mapperLocations">
            <list>
                <value>classpath:com/baizhi/cmfz/mappers/*Mapper.xml</value>
            </list>
        </property>

    </bean>

    <!--mapper文件扫描,创建dao实现类-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">

        <property name="basePackage" value="com.baizhi.cmfz.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>

    </bean>

    <!--事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--事务描述-->
   <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>


    <!-- 注册额外功能类,用于log对象的执行-->
    <bean id="myLogAdvice" class="com.baizhi.cmfz.util.MyLogAdvice"></bean>

    <!--使用Aspectj 风格的aop，对用户执行操作时，日志的监控-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>