<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--只扫描controller包里的有controller注释的-->
    <context:component-scan base-package="com.baizhi.cmfz.controller">

        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:include-filter>

    </context:component-scan>

    <!--注解驱动-->
    <mvc:annotation-driven>

        <!--配置fastjason的json处理框架-->
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">

                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=utf-8</value>
                    </list>
                </property>

            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--文件上传的配置-->
    <bean id="commonsMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>

    <!--视图解析器-->
    <!--
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
-->
    <!--过滤静态资源-->
    <mvc:default-servlet-handler />

    <!--springmvc文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1024000000" />
    </bean>


    <!--easypoi 相关配置-->

    <!-- 配置基本视图解析解析器- -->
    <!--默认视图解析器-->
       <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:order="3">
           <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
           <property name="contentType" value="text/html" />
           <property name="prefix" value="/webpage/" />
           <property name="suffix" value=".jsp" />
       </bean>

    <!-- Bean解析器,级别高于默认解析器,寻找bean对象进行二次处理 -->
        <bean id="beanNameViewResolver"
              class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="0">
        </bean>

    <!-- Excel 处理 根据用户输入进行对象处理 -->
        <bean id="jeecgExcelView" class="org.jeecgframework.poi.excel.view.JeecgSingleExcelView" />
        <bean id="jeecgTemplateExcelView" class="org.jeecgframework.poi.excel.view.JeecgTemplateExcelView" />
        <bean id="jeecgTemplateWordView" class="org.jeecgframework.poi.excel.view.JeecgTemplateWordView" />
        <bean id="jeecgMapExcelView" class="org.jeecgframework.poi.excel.view.JeecgMapExcelView" />



</beans>

