<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.UserDao">

    <insert id="insertUser" parameterType="User">

        insert into t_user values(
            #{user.userId},
            #{user.userName},
            #{user.userBuddhishName},
            #{user.userPassword},
            #{user.userSex},
            #{user.userHeadPic},
            #{user.userAddress},
            #{user.userPhone},
            #{user.userSignature},
            #{user.userStatus},
            #{user.userDate}
        )

    </insert>

    <select id="selectManUser" resultType="User">
        SELECT userAddress
        FROM t_user
        WHERE
            userSex = '男'
        GROUP BY
            userAddress
    </select>

    <select id="countMen" resultType="int">
        SELECT count(*)
        FROM t_user
        WHERE
            userAddress = #{address} and userSex = '男'
    </select>

    <select id="selectWomanUser" resultType="User">
        SELECT userAddress
        FROM t_user
        WHERE
            userSex = '女'
        GROUP BY
            userAddress
    </select>

    <select id="countWomen" resultType="int">
        SELECT count(*)
        FROM t_user
        WHERE
        userAddress = #{address} and userSex = '女'
    </select>


</mapper>